<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">

<div class="container-fluid p-0">
  <div id="map" class="map"
       leaflet
       [leafletOptions]="options"
       [leafletLayers]="layers"
       (leafletMapReady)="onMapReady($event)">
  </div>

  <div class="d-none">
    <div id="leyenda" class="container bg-light bg-opacity-75 p-2 m-1 w-75">
      <h6 class='text-black-50'>{{legendTitle}}</h6>
      <i class="fas fa-circle iconErasmusOut"></i><p class="d-inline text-black-50 l-fs"> {{legendErasmusOut}} </p><br>
      <i class="fas fa-circle iconErasmusIn"></i><h6 class="d-inline text-black-50 l-fs"> {{legendErasmusIn}} </h6><br>
    </div>
  </div>
</div>

