<div class="container mt-5">
  <div class="row">
    <div class=" col-md-10 col-lg-7 mx-auto">
      <h1 class="display-4 text-center">{{title}}</h1>
      <form class="border border-light p-5" [formGroup]="registerForm">
        <div class="form-group mb-4">
          <label class="text-start">{{emailLabel}}</label><br>
          <input type="text" class="form-control p-3" formControlName="Email" placeholder="{{emailPlaceholder}}"
                 [ngClass]="{ 'is-invalid': formErrors.Email }"  (blur)="updateValidationErrors()"/>
          <span class="text-danger" *ngIf="formErrors.Email">{{formErrors.Email}}</span>
        </div>
        <div class="form-group mb-5">
          <label>{{usernameLabel}}</label>
          <input type="text" class="form-control p-3" formControlName="Username" placeholder="{{usernamePlaceholder}}"
                 [ngClass]="{ 'is-invalid':formErrors.Username }" (blur)="updateValidationErrors()"/>
          <span class="text-danger" *ngIf="formErrors.Username">{{formErrors.Username}}</span>
        </div>
        <div class="form-group mb-5">
          <label>{{passwordLabel}}</label> <br>
          <span class="text-secondary">La contraseña debe tener al menos 5 caracteres</span>
          <input type="password" class="form-control p-3" formControlName="Password" placeholder="{{passwordPlaceholder}}"
                 [ngClass]="{ 'is-invalid':formErrors.Password }" (blur)="updateValidationErrors()"/>
          <span class="text-danger" *ngIf="formErrors.Password">{{formErrors.Password}}</span>
        </div>
        <div class="form-group mb-5">
          <label>{{confirmPasswordLabel}}</label>
          <input type="password" class="form-control p-3" formControlName="ConfirmPassword" placeholder="{{confirmPasswordPlaceholder}}"
                 [ngClass]="{ 'is-invalid':formErrors.ConfirmPassword }" (blur)="updateValidationErrors()"/>
          <span class="text-danger" *ngIf="formErrors.ConfirmPassword">{{formErrors.ConfirmPassword}}</span>
        </div>
        <app-button [text]="submitButton" [disabled]="!registerForm.valid" (btnClick)="onSubmit()"></app-button>
        <p class="mt-5"> {{redirectMessage}} <a href='/login'>{{redirectButton}}</a></p>
      </form>
    </div>
  </div>
</div>
