<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">

<div class="space-64"></div>

<div class="footer-basic bg-dark text-white">
    <footer>
        <div class="social">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://mail.google.com/"><i class="fas fa-at"></i></a>
            <a href="https://www.buymeacoffee.com/"><i class="fas fa-coffee"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Inicio</a></li>
            <li class="list-inline-item"><a href="/lista-carreras">Lista Carreras</a></li>
            <li class="list-inline-item"><a href="#">Notas de Corte</a></li>
            <li class="list-inline-item"><a href="/filtrador-notas">Filtrador Notas</a></li>
            <li class="list-inline-item"><a href="#">Erasmus</a></li>
            <li class="list-inline-item"><a href="/mapa-erasmus">Mapa Erasmus</a></li>
        </ul>

        <hr class="space-32">

        <p class="about-us">
            Somos 4 estudiantes de la Universidad de Zaragoza.
            Esto es una práctica para Sistemas y Tecnologías Web (STW).
        </p>

        <p class="copyright">STW-Enjoyers © 2022</p>
    </footer>
</div>