<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">

<hr class="space-32">

<div class="footer-basic bg-dark text-white">
    <footer>
        <div class="social">
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://mail.google.com/"><i class="fas fa-at"></i></a>
            <a href="https://www.buymeacoffee.com/"><i class="fas fa-coffee"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Menu1</a></li>
            <li class="list-inline-item"><a href="#">Menu2</a></li>
            <li class="list-inline-item"><a href="#">Menu3</a></li>
            <li class="list-inline-item"><a href="#">Menu4</a></li>
            <li class="list-inline-item"><a href="#">Menu5</a></li>
            <li class="list-inline-item"><a href="#">Menu6</a></li>
        </ul>

        <hr class="space-32">

        <p class="about-us">
            Somos 4 estudiantes de la Universidad de Zaragoza.
            Esto es una práctica para Sistemas y Tecnologías Web (STW).
        </p>

        <p class="copyright">STW-Enjoyers © 2022</p>
    </footer>
</div>