<div class="container-fluid">
  <h1 class="display-6 text-center p-5 bg-light">{{grade.estudio}} - {{grade.localidad}}</h1>
  <!-------------- INIT CHARTS ---------------------->
  <div class="container mt-4">
    <h5>{{statistics_title}}</h5>
    <div class="row justify-content-between">
      <div class="col-4 border border-1 rounded p-3">
        <canvas id="rendimientoChart"> {{pieChart}} </canvas>
      </div>
      <div class="col-8 border border-1 rounded p-3">
        <canvas id="historicalGradesChart"> {{lineChart}} </canvas>
      </div>
    </div>
  </div>

  <!-------------- INIT WRITE A COMMENT ---------------------->
  <div class="container mt-5">
    <h5>{{comments_title}}</h5>
    <p class="fs-6">{{comment_input_label}}</p>
    <div class="row justify-content-center gy-2">
      <div class="col-12 col-sm-12 col-md-9">
        <textarea type="text" class="form-control" style="height: 100%" [(ngModel)]="newCommentText" rows="1" maxlength="150"></textarea>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <app-button *ngIf="userService.isLoggedIn()"  [text]="comment_button_text" (btnClick)="postComment()"></app-button>
        <app-button *ngIf="!userService.isLoggedIn()" [text]="comment_button_text" [routerLink]="['/registro']"></app-button>
      </div>
    </div>
  </div>

  <select>
    <option **[ngValue]="null" disabled**></option>
    <option *ngFor="let option of selectOptions" [ngValue]="option">
      {{ option}}
    </option>
  </select>

  <!-------------- INIT COMMENT BOX ---------------------->
  <div *ngIf="comments" class="container mt-4">
    <div *ngFor="let comment of comments">
      <app-comment [userId]="'TODO: ENLAZAR ID'"
                   [gradeId]="this.grade.idCarrera"
                   [comment]="comment"
                   (hasChanged)="onCommentsHaveChanged()">
      </app-comment>
    </div>
  </div>
</div>




