<div class="container-fluid">
  <h1 class="display-6 text-center p-5 bg-light">{{grade.estudio}} - {{grade.localidad}}</h1>

  <div class="container mt-3">
    <h5>{{statistics_title}}</h5>
    <div class="row">
      <div class="col-4 border border-1 rounded p-3">
        <canvas id="rendimientoChart"> {{chart}} </canvas>
      </div>
    </div>
  </div>
  <br><br>

  <div class="container mt-5">
    <h5>{{comments_title}}</h5>
    <div *ngIf="userService.isLoggedIn()" class="mt-2">
      <p class="fs-6">{{comment_input_label}}</p>
      <div class="row justify-content-center gy-2">
        <div class="col-12 col-sm-12 col-md-9">
          <textarea type="text" class="form-control" style="height: 100%" [(ngModel)]="newCommentText" rows="1" maxlength="150"></textarea>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
          <app-button [text]="comment_button_text" (btnClick)="postComment()"></app-button>
        </div>
      </div>
      <div class="space-16"></div>
    </div>
    <div *ngIf="!userService.isLoggedIn()">
      No estas log bro
    </div>

    <div *ngIf="comments">
      <div *ngFor="let comment of comments" class="mt-3">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>

  </div>
</div>




