<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="header.component.css" />

<nav>
	<input type="checkbox" id="check">
	<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
	</label>
	<label class="logox">
		UnizAPP
	</label>
	<ul>
		<li><a href="/login"><i class="fas fa-user"></i></a></li>
	</ul>
	<ul class="align-items-center">
		<li><a href="#"><i class="fas fa-home"></i></a></li>
		<li><a href="/lista-carreras">Carreras</a></li>
		<li><a href="#">Notas de Corte(#)</a></li>
		<li><a href="/filtrador-notas">Filtrador Notas</a></li>
		<li><a href="#">Erasmus(#)</a></li>
		<li><a href="mapa-erasmus">Mapa Erasmus</a></li>
	</ul>
</nav>