<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="header.component.css" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand ms-1" (click)="goToPage('')" role="button">
			<img src="assets/logo.png" height="45" alt="" loading="lazy"/>
		</a>

    <button class="navbar-toggler" type="button" (click)="togglerNavbar.toggle()" aria-controls="togglerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="togglerNavbar" mdbCollapse #togglerNavbar="mdbCollapse">

			<ul class="navbar-nav mb-0 mb-lg-0">

				<li class="dropdown">
					<!--First item-->
					<a class="nav-link dropdown-toggle hidden-arrow" type="button" id="dropdownNotas" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-cut"></i> Notas
					</a>

					<ul class="dropdown-menu" aria-labelledby="dropdownNotas">
						<li><h6 class="dropdown-header">Notas de corte</h6></li>
						<li>
							<a class="dropdown-item" type="button" (click)="goToPage('filtrador-notas')">
								<i class="fas fa-filter pe-1"></i> Filtrador
							</a>
						</li>
						<li>
							<a class="dropdown-item" type="button" (click)="goToPage('info-notas')">
								<i class="fas fa-info-circle pe-1"></i> Información
							</a>
						</li>
					</ul>
				</li>

				<!--Second item-->
				<li class="nav-item me-3 me-lg-1">
					<a class="nav-link" (click)="goToPage('lista-carreras')" role="button">
						<i class="fas fa-graduation-cap"></i> Carreras
					</a>
				</li>

				<!--Third item-->
				<li class="dropdown">
					<a class="nav-link dropdown-toggle" type="button" id="dropdownNotas" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="100,200">
						<i class="fas fa-plane"></i> Erasmus
					</a>

					<ul class="dropdown-menu" aria-labelledby="dropdownNotas">
						<li><h6 class="dropdown-header">Programa Erasmus</h6></li>
						<li>
							<a class="dropdown-item" type="button" (click)="goToPage('mapa-erasmus')">
								<i class="fas fa-map-marker-alt pe-1"></i> Mapa
							</a>
						</li>
						<li>
							<a class="dropdown-item" type="button" (click)="goToPage('info-erasmus')">
								<i class="fas fa-info-circle pe-1"></i> Información
							</a>
						</li>
					</ul>
				</li>

				<!--Fourth item inside-->
				<div class="show-sm">
					<li class="nav-item me-1" *ngIf="!verifyLogin()">
						<a class="nav-link" (click)="goToPage('login')" role="button">
							<i class="fas fa-user"></i> Iniciar sesión
						</a>
					</li>
          <div  *ngIf="verifyLogin()" class="row align-items-start justify-content-start">
            <div class="col-auto pe-0" style="padding-left: 35px"><app-avatar username="{{username}}"></app-avatar></div>
            <div class="col-auto">
              <li class="dropdown" *ngIf="verifyLogin()">
                <a class="nav-link dropdown-toggle ps-0" type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                  {{username}}
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                  <li><h6 class="dropdown-header">Opciones</h6></li>
                  <li>
                    <a class="dropdown-item" type="button" (click)="goToPage('admin-dashboard')" *ngIf="verifyAdmin()">
                      <i class="fas fa-tachometer-alt"></i> Panel de control
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" type="button" (click)="goToPage('ajustes-usuario')">
                      <i class="fas fa-cog"></i> Ajustes
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" type="button" (click)="onLogout()">
                      <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </a>
                  </li>
                </ul>
              </li>
            </div>
          </div>
				</div>

      </ul>

    </div>
		<ul class="navbar-nav mb-0 mb-lg-0 hide-sm">

			<!--Fourth item outside-->
			<li class="nav-item me-1" *ngIf="!verifyLogin()">
				<a class="nav-link" (click)="goToPage('login')" role="button">
					<i class="fas fa-user"></i> Iniciar sesión
				</a>
			</li>
      <div  *ngIf="verifyLogin()" class="row align-items-center justify-content-end ">
        <div class="col-auto"><app-avatar username="{{username}}"></app-avatar></div>
        <div class="col-auto">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle ps-0" type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
              {{username}}
            </a>


            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
              <li><h6 class="dropdown-header"> Opciones </h6></li>
              <li>
                <a class="dropdown-item" type="button" (click)="goToPage('admin-dashboard')" *ngIf="verifyAdmin()">
                  <i class="fas fa-tachometer-alt"></i> Panel de control
                </a>
              </li>
              <li>
                <a class="dropdown-item" type="button" (click)="goToPage('ajustes-usuario')">
                  <i class="fas fa-cog"></i> Ajustes
                </a>
              </li>
              <li>
                <a class="dropdown-item" type="button" (click)="onLogout()">
                  <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                </a>
              </li>
            </ul>
          </li>

        </div>
      </div>

		</ul>
  </div>
</nav>
