<link rel="stylesheet" href="//use.fontawesome.com/releases/v6.1.1/css/all.css">

<app-header></app-header>
<div class="container mt-5">
  <div class="row">
    <div class=" col-12 col-sm-10 col-md-7 col-lg-5 mx-auto">
      <h1 class="display-4 text-center"> {{title}}</h1>

      <!------- INIT USER INFO ------>
      <div *ngIf="user" id="userInfo" class="row justify-content-center mt-3">
        <div class="col-auto fs-6 text-secondary"> {{usernameLabel}}: <span class="text-primary">{{ user.username }}</span> </div>
        <div class="col-auto fs-6 text-secondary"> {{emailLabel}}: <span class="text-primary">{{ user.email }}</span> </div>
      </div>

      <!------- INIT CHANGE USERNAME FORM ------->
      <form class="border border-light mt-2" [formGroup]="changeUsernameForm">
        <!-- INIT USERNAME INPUT -->
        <div class="form-group mb-2">
          <label class="text-start">{{usernameLabel}}</label><br>
          <input type="text" class="form-control p-3" formControlName="username" placeholder="{{usernameLabel}}"
                 [ngClass]="{ 'is-invalid': changeUsernameFormErrors.username }"/>
          <span class="text-danger" *ngIf="changeUsernameFormErrors.username">
            {{changeUsernameFormErrors.username}}
          </span>
        </div>
        <!-- INIT SUBMIT BUTTON -->
        <div class="mt-3">
          <app-button [text]="'Actualizar usuario'" [disabled]="!changeUsernameForm.valid" (btnClick)="onChangeUsernameSubmit()"></app-button>
          <p class="text-danger mt-2" *ngIf="userAlreadyExists"> {{ usernameError }}</p>
          <!--<div class="alert alert-success mt-4" [hidden]="!usernameUpdated"><i class="fa-solid fa-check"></i> {{ usernameSuccess }}</div>-->
        </div>
      </form>

      <div class="space-64"></div>

      <!------- INIT CHANGE PASSWORD FORM ------->
      <form class="border border-light" [formGroup]="changePasswordForm">
        <!-- INIT ACTUAL PASSWORD INPUT -->
        <label class="text-start">{{actualPasswordLabel}}</label><br>
        <div class="input-group">
          <input [type]="actualPasswordShow ? 'text' : 'password'" class="form-control p-3" formControlName="actualPassword" placeholder="{{actualPasswordLabel}}"
                 [ngClass]="{ 'is-invalid': changePasswordFormErrors.actualPassword }"/>
          <span class="input-group-text" role="button" (click)="onClickActualPasswordVisibility()">
            <i class="fa-solid" [ngClass]="{'fa-eye-slash': !actualPasswordShow, 'fa-eye':actualPasswordShow}"></i>
          </span>
        </div>
        <span class="text-danger" *ngIf="changePasswordFormErrors.actualPassword">
            {{changePasswordFormErrors.actualPassword}}
          </span>
        <!-- INIT NEW PASSWORD INPUT -->
        <label class="text-start mt-4 d-block">{{newPasswordLabel}}</label><br>
        <div class="input-group">
          <input [type]="newPasswordShow ? 'text' : 'password'" class="form-control p-3" formControlName="newPassword" placeholder="{{newPasswordLabel}}"
                 [ngClass]="{ 'is-invalid': changePasswordFormErrors.newPassword }" (blur)="updateChangePasswordErrors()"/>
          <span class="input-group-text" (click)="onClickNewPasswordVisibility()" role="button">
            <i class="fa-solid" [ngClass]="{'fa-eye-slash': !newPasswordShow, 'fa-eye':newPasswordShow}"></i>
          </span>
        </div>
        <span class="text-danger" *ngIf="changePasswordFormErrors.newPassword">
            {{changePasswordFormErrors.newPassword}}
        </span>
        <!-- INIT SUBMIT BUTTON -->
        <div class="mt-3">
          <app-button [text]="'Actualizar contraseña'" [disabled]="!changePasswordForm.valid" (btnClick)="onChangePasswordSubmit()"></app-button>
          <p class="text-danger mt-2" *ngIf="actualPasswordIncorrect"> {{ passwordError }}</p>
          <div class="alert alert-success mt-4" [hidden]="!passwordUpdated"><i class="fa-solid fa-check"></i> {{ passwordSuccess }}</div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="space-64"></div>
