<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div class="container-fluid rounded bg-light mt-2">
  <div class="row">
    <!-------------- INIT AVATAR ---------------------->
    <div class="col-2 col-lg-1">
      <app-avatar *ngIf="comment.visible" [username]="comment.username"></app-avatar>
    </div>
    <!-------------- INIT CONTENT ---------------------->
    <div class="col-10">
      <p><b>{{getUsername()}}</b> <span class="text-secondary" style="font-size: 12px"> · hace {{timeSinceWasPublished}}</span></p>

      <p>{{getBody()}}</p>
      <div class="row">
        <!-------------- INIT RESPONSES BUTTON ---------------------->
        <div class="col" (click)="onShowResponses()"  role="button">
          <p class="fs-6 text-secondary"><i class="bi {{responsesAreShown ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
            Ver respuestas <span>({{comment.responses.length}})</span>
          </p>
        </div>
        <!-------------- INIT LIKE BUTTON ---------------------->
        <div (click)="onUpVote()" class="col"  role="button">
          <p class="fs-6 text-secondary"><i class="bi {{isUpvoted ? 'bi-heart-fill' : 'bi-heart'}}"></i> {{comment.upvotes}}</p>
        </div>
        <!-------------- INIT REPLY BUTTON ---------------------->
        <div (click)="onShowResponseInput()" class="col">
          <p class="fs-6 text-secondary"><i class="bi bi-reply-fill"></i>Responder</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="responsesAreShown || responseInputIsShown" class="row justify-content-end">
  <!-------------- INIT WRITE A REPLY ---------------------->
  <div *ngIf="responseInputIsShown" class="col-10">
    <div class="row justify-content-center gy-2">
      <div class="col-12 col-sm-12 col-md-9">
        <textarea type="text" class="form-control" style="height: 100%" [(ngModel)]="newResponseText" rows="1" maxlength="150"></textarea>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <app-button [text]="'Publicar'" (btnClick)="onPostResponse()"></app-button>
      </div>
    </div>
  </div>
  <!-------------- INIT RESPONSES BOX ---------------------->
  <div *ngIf="comment.responses" class="col-10 col">
    <div *ngFor="let response of comment.responses">
      <app-response [userId]="userId"
                    [gradeId]="gradeId"
                    [commentId]="comment._id"
                    [response]="response"
                    (hasChanged)="onResponsesChanged()">
      </app-response>
    </div>
  </div>
</div>

