<div class="container-fluid rounded bg-light mt-1">
  <div class="row">
    <!-------------- INIT AVATAR ---------------------->
    <div class="col-auto col-sm-2 col-lg-1">
      <app-avatar *ngIf="response.visible" [username]="response.username"></app-avatar>
    </div>
    <!-------------- INIT CONTENT ---------------------->
    <div class="col-auto col-sm-10">
      <p><b>{{getUsername()}}</b></p>
      <p>{{getBody()}}</p>
      <div class="row">
        <!-------------- INIT LIKE BUTTON ---------------------->
        <div (click)="onUpVote()" class="col"  role="button">
          <p class="fs-6 text-secondary"><i class="bi {{isUpvoted ? 'bi-heart-fill' : 'bi-heart'}}"></i> {{response.upvotes}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
