<div class="container mt-5">
  <h2><b>Admin Dashboard</b></h2> <!-- titulo ng -->

  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-5">

      <!-- gráfico de registros -->

    </div>
  </div>

  <div class="space-64"></div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-5">

      <!-- gráfico de coments -->

    </div>

    <div class="col-12 col-sm-12 col-md-1"></div>

    <div class="col-12 col-sm-12 col-md-6">

      <!-- gráfico de bans -->

    </div>
  </div>

  <div class="space-64"></div>

  <div class="row justify-content-center">

    <!-- mod comentarios -->

  </div>

  <div class="space-64"></div>

</div>
