<div class="container mt-5">
  <h2><b>Admin Dashboard</b></h2> <!-- cambiar a titulo ng -->

  <div class="row">
    <div class="col-12">

      Gráfica de registros durante el año actual

    </div>
  </div>

  <div class="space-64"></div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6">

      Gráfica de carreras con más comentarios

    </div>

    <div class="col-12 col-sm-12 col-md-6">

      Gráfica de carreras más conflictivas

    </div>
  </div>

  <div class="space-64"></div>

  <div class="row">
    <div class="col-12">

      Sección de últimos comentarios

    </div>
  </div>
</div>

<div class="space-64"></div> <!-- Pre-Footer -->