.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #6257f8 !important;
  width: 100% !important;
  min-width: 190px !important;
}

.btn-primary:hover{
  background-color: #4a41fa !important;
}
