/* You can add global styles to this file, and also import other style files */
p {
  font-size: 18px; 
}

.hr-white-space-16 {
  margin: 16px;
  color: white;
  background-color: white;
  border-color: white;
}

.hr-white-space-32 {
  margin: 32px;
  color: white;
  background-color: white;
  border-color: white;
}
