<div>
  <img
    src="../../assets/img/undraw_Playful_cat_re_ac9g.png"
    style="width: 80%"
    id="icon"
    alt="Cat icon"
  />
</div>
<form
  #registerForm="ngForm"
  (ngSubmit)="registerForm.valid && onSubmit(registerForm)"
>
  <input
    type="text"
    #username="ngModel"
    [(ngModel)]="userService.actUser.username"
    name="username"
    placeholder="Nombre de usuario"
    required
    [ngClass]="{ 'invalid-textbox': registerForm.submitted && !username.valid }"
  />
  <div *ngIf="registerForm.submitted && email.errors">
    <label *ngIf="username.errors?.['required']" class="validation-message">
      ¡Falta este campo!
    </label>
    <label *ngIf="username.errors?.['pattern']" class="validation-message">
      Nombre de usuario inváido.
    </label>
  </div>
  <input
    type="text"
    #email="ngModel"
    [(ngModel)]="userService.actUser.email"
    name="email"
    placeholder="Email"
    required
    [pattern]="emailRegex"
    [ngClass]="{ 'invalid-textbox': registerForm.submitted && !email.valid }"
  />
  <div *ngIf="registerForm.submitted && email.errors">
    <label *ngIf="email.errors?.['required']" class="validation-message">
      ¡Falta este campo!
    </label>
    <label *ngIf="email.errors?.['pattern']" class="validation-message">
      Email inválido.
    </label>
  </div>

  <input
    type="password"
    #password="ngModel"
    [(ngModel)]="userService.actUser.password"
    name="password"
    placeholder="Contraseña"
    [ngClass]="{ 'invalid-textbox': registerForm.submitted && !password.valid }"
    minlength="5"
    required
  />
  <div *ngIf="registerForm.submitted && password.errors">
    <label *ngIf="password.errors?.['required']" class="validation-message">
      ¡Falta este campo!
    </label>
    <label *ngIf="password.errors?.['minlength']" class="validation-message">
      Mínimo 5 cáracteres.
    </label>
  </div>
  <input type="submit" placeholder="Registrar" />
</form>

<div class="success" *ngIf="success">Saved successfully</div>
